<div class="row">

    <div class="col-md-5">
        <app-recipe-list>
    </app-recipe-list>
    </div>

    <div class="col-md-7">
        <router-outlet></router-outlet>
        <!-- <app-recipe-detail 
        *ngIf="selectedRecipe; else infoText"
        [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p>Plese select a Recipe !</p>
        </ng-template> -->
    </div>

</div>


<!-- (RecipeSelected)="selectedRecipe= $event" row 4 -->