<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
        <!-- <app-recipes *ngIf="loadedFeature === true"></app-recipes>
        <app-shopping-list *ngIf="loadedFeature === false"></app-shopping-list> -->
     </div>
  </div>
</div>
<!-- (Chose)="onNavigate($event)" -->